*{
  font-family: Verdana;
}
h1{
  margin: 10px;
  text-align: center;
  background: rgba(0, 255, 255, 0.6);
  border-radius: 20px;
  height: 100px;
  padding: 0;
}

body {
  background: #c6e0d0;
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
  font-family: 'Roboto', sans-serif;
}
.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 100px auto;
  padding: 25px;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  margin: 10px;
  text-align: center;
  width: 70px;
  padding: 15px;
  background: #aeda49;
  font-weight: bold;
  height: 25px;
  border-radius: 50px;
  top:0;
  transition: all 0.3s ease-in-out;
}

.mytabs label:hover{
  top: -0.25rem;
  transition: all 0.25s;
  background-color: #7f9478;
}

.mytabs .tab {
  border-radius: 20px;
  width: 100%;
  padding: 5px;
  background: #fff;
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  font-size: 2em;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #fff;
}

.center{
  display: block;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}